<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="src/app.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeJs">
          <match url=".*" />
          <action type="Rewrite" url="src/app.js" />
        </rule>
      </rules>
    </rewrite>
 <iisnode
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      loggingEnabled="true"
      logDirectory="iisnode" />

  </system.webServer>
</configuration>
